.cart-icon-container {
	background: none;
	border: none;
	position: relative;
	padding: 2rem 1rem;
}

.cart-icon-icon {
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart-icon-count {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -30%);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 1.4em;
}

.cart-bag {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	grid-area: cart-bag;
}

.cart-bag-header {
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid black;
	width: 100%;
}

.cart-bag-header-details {
	display: flex;
	gap: 0.25rem
}

.cart-bag-items {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.cart-card-item-container {
	display: flex;
	padding: 1rem;
	gap: 1rem;
}

.cart-card-item-img {
	flex-basis: 20%;
	max-width: 20%;
	height: auto;
	cursor: pointer;
}

.cart-card-item-content {
	flex-basis: 80%;
}

.cart-card-item-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.cart-card-item-title {
	grid-area: cart-card-item-title;
}

.cart-card-item-price {
	grid-area: cart-card-item-price;
}

.cart-card-item-details {
	grid-area: cart-card-item-details;
}

.cart-card-item-options {
	grid-area: cart-card-item-options;
}

.cart-container {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(1, 1fr);
	grid-template-areas:
		"cart-bag"
		"cart-summery"
	;
}

.cart-card-item-option {
	background: none;
	border: none;
	cursor: pointer;
}

.cart-summery {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	grid-area: cart-summery;
}

.cart-summery-total {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
	border-bottom: 1px solid black;
}

.cart-summery-promo {
	display: flex;
	flex-direction: column;
}

.cart-summery-promo input {
	padding: 1rem;
}

.cart-summery-button {
	position: fixed;
	bottom: 0;
	width: 100%;
}

@media only screen and (min-width: 1000px) {
	.cart-container {
		display: grid;
		padding: 2rem;
		grid-template-columns: 60% 40%;
		grid-template-areas:
			"cart-bag cart-summery";
	}

	.cart-summery-button {
		position: relative;
	}

	.cart-bag-header {
		align-self: auto;
		border-bottom: none;
	}

	.cart-bag-header-details {
		display: none;
	}
}
