:root {
	--primary-clr: #000814;
	--secondary-clr: #f8f9fa;
	--success-clr: #16db65;
	--warning-clr: #ef233c;
	--success-clr-hover: #b7e4c7;
	--warning-clr-hover: #ffb3c1;
	--disabled-clr: #e5e5e5;
	box-sizing: border-box;
	text-transform: capitalize;
}

.primary-color {
	background-color: var(--primary-clr);
	color: var(--secondary-clr);
}

.secondary-color {
	background-color: var(--secondary-clr);
	color: var(--primary-clr);
}

.success-color {
	background-color: var(--success-clr);
	color: var(--secondary-clr);
}

.warning-color {
	background-color: var(--warning-clr);
	color: var(--secondary-clr);
}

.border-round {
	border-radius: 50%;
}

.flex {
	display: flex
}

.f-d-column {
	flex-direction: column;
}

.justify-content-between {
	justify-content: space-between;
}

.gap-1 {
	gap: 0.5rem;
}

.gap-2 {
	gap: 1rem;
}

.gap-3 {
	gap: 1.5rem;
}

.gap-4 {
	gap: 2rem;
}

.h3 {
	font-size: 1.7em;
	font-weight: bolder;
	text-transform: capitalize;
}

.h4 {
	font-size: 1.4em;
	font-weight: bolder;
	text-transform: capitalize;
}

.button-none {
	background: none;
	border: none;
	cursor: pointer;
	text-transform: capitalize;
}

.cursor-pointer {
	cursor: pointer;
}
